.carousel-container{
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 8px 8px 0px 8px;

}
.carousel-item{
    height: 280px;
    width: 90%;
    min-width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}