.wraper{
    display: flex;
    justify-content: space-around;
    /* width: 1260px; */
    padding: 8px;

}
.main-contai-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-8-cart{
    /* width: 865px; */
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
    background-color: #ffffff;


}
.col-4-cart{
    /* width: 362px; */
    margin-left: 16px;
}
.cart-item-list{
    padding: 24px;
    
    border-bottom: 1px solid #f0f0f0!important;

}
.img-cart{
    width: 112px;
    height: 112px;
}
.inner-cart{
    display: flex;
}
.cart-content{
    width: 412px;
    padding: 0px 24px 12px 24px;

}
.cart-title{
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    text-align: left;
}
.paragraph-cart{
    color: #878787;
    margin: 0px;
    padding: 0px 0px;
    /* word-break: break-all; */
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.brand-name{
    margin-top: 8px;
    font-size: 14px;
    color: #878787;
    text-align: left;
}
.price-cart{
    font-size: 18px;
    color: #212121;
    font-weight: 500;
    margin-right: 8px;
    text-align: left;
}
.price-content{
    text-align: left;
    margin-top: 16px;
}
.discount-cart{
    font-size: 14px;
    font-weight: 500;
    color: #388e3c;
    margin-right: 10px;
}
.cart-qty-delete{
    text-align: left;
    padding-top: 10px;
    
}

.input-qty{
    outline: none;
    width: 46px;
    height: 28px;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #c2c2c2;
    margin: 0px 4px; 
    
}
.roundbtn{
    border-radius: 50%;
    border: 1px solid #c2c2c2;
    width: 28px;
    height: 28px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1px;
    vertical-align: middle;
    background: linear-gradient(#fff,#f9f9f9);    
}
.qty-cart{
    display: inline-block;
    width: 112px;
}
.save-remove{
    padding-left: 24px;
    display: inline-block;
}
.saveforl{
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    margin-right: 24px;
}
.saveforl:hover{
    color: #2864f0;

}
.saveforl-remove{
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.saveforl-remove:hover{
    color: #2864f0;

}
.price-line{
    display: flex;
    justify-content: space-around;
}
.cart-is-empty{
    width: 1200px;
    padding: 40px 0px;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-empty-cart{
    height: 162px;
}
.cart-empty-heading{
    font-size: 18px;
    color: #212121;
    margin-top: 24px;
}
.sub-heading-cart{
    font-size: 12px;
    margin-top: 10px;
    color: #212121;
}
.sticky-btn-container{
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
}
.container-btn-buy{
    padding: 16px 22px;
    background-color: #fff;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
    border-top: 1px solid #f0f0f0;
    text-align: right;
}
.col-4-cart{
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border-radius: 2px;
    box-shadow:0 1px 1px 0 rgb(0 0 0 /20%)
}
.total-price-section{
    padding: 13px 24px;
    border-bottom: 1px solid #f0f0f0;

}
.headeing-for-price{
    font-size: 16px;
    color: #878787;
    text-align: left;
    font-weight: 500;
}
.price-line{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: flex-start;
}
.total-price{
    padding: 0px 24px;
    
}
span{
    
}
.dis-price{
    color:#388e3c ;
}
.total-text{
    font-size: 18px;
    color: #212121;
    margin: 20px 0px;
    font-weight: 500;

}
.total-price-line{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: flex-start;
    border-bottom: 1px dashed #e0e0e0;
    border-top: 1px dashed #e0e0e0;
    
}
